[submodule "documentation"]
	path = documentation
	url = git@gitlab.ictge.ch:anthony-rdrgz/missive-documentation.git
[submodule "poc"]
	path = poc
	url = git@gitlab.ictge.ch:anthony-rdrgz/missive-poc.git
